@import '../../Variables';

.page .tools__container {
  .tools__side-bar__header {
    background-color: var(--background-color-tools-header);
    padding: $padding;
    color: var(--text-color-flipped);
  }

  .tools__tool-header-row {
    display: flex;

    .tools__side-bar__header {

    }
  }

  .tools__tool-row {
    display: flex;
    background-color: var(--background-color-container);

    .tools__side-bar {
      width: 25%;
      background-color: var(--background-color-tools-settings);

      .tools-settings-header {
        background-color: var(--background-color-tools-header);
        padding: 0.5rem 8%;
        color: var(--text-color-flipped);
      }

      .tools-settings,
      .beatmap-settings {
        padding: $padding-large;
        //padding: 0.5rem 8%;
      }
    }
  }

  .tools__tool-name {
    background-color: var(--background-color-tools-header);
    color: var(--text-color-flipped);
  }

  .tools_tool-container {
    width: 75%;
  }

  .tools__tool {
    background-color: var(--background-color-container);
  }
}

.tools__tool-selector-row {
  background-color: var(--background-color-tool-selected);

  .tools__tool-selector {
    width: 100%;
    display: flex;
    background-color: var(--primary-color);

    .tools__tool-selector-button-container {
      width: 100%;
      background-color: var(--background-color-tool-selected);

      .tools__tool-selector-option {
        width: 100%;
        padding: 1rem 2%;
        font-size: 1.2rem;
        background-color: var(--primary-color);

        &.active-tool-before {
          border-bottom-right-radius: $border-radius-large;
        }

        &.active-tool-after {
          border-bottom-left-radius: $border-radius-large;
        }
      }
    }

    .tools__tool-selector-button-container.active-tool-container {
      background-color: var(--primary-color);

      .active-tool {
        border-top-left-radius: $border-radius-large;
        border-top-right-radius: $border-radius-large;
        background-color: var(--background-color-tool-selected);
        color: var(--text-color-flipped);
      }
    }
  }
}
