@import 'Variables';

* {
  //margin: unset;
  color: var(--text-color);
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--background-color);
  overflow: scroll;
}

a,
button {
  cursor: pointer;
  background-color: unset;
  border: unset;
  text-decoration: none;
  padding: unset;
  color: var(--text-color);
}

.website__wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.content-wrapper {
  flex: 1;
}

.page {
  margin-top: $padding-large;
  margin-bottom: $padding-large;

  .page__header {
    background-color: var(--secondary-color);
    color: var(--text-color-flipped);
    padding: $padding-small $padding-large;
    margin: unset;
  }

  .page__breadcrumb {
    background-color: var(--secondary-color);
    padding: $padding-small $padding-large;
    display: flex;

    .page__breadcrumb-item {
      &:not(:last-child) {
        text-decoration: underline;
      }

      &:not(:first-child) {
        padding-left: 4px;

        &::before {
          content: ' / ';
        }
      }
    }

    * {
      color: var(--text-color-flipped);
    }
  }

  .page__container {
    background-color: var(--background-color-container);
    //padding: $padding-small $padding-large;

    *.fake-bold {
      font-weight: normal;
      color: var(--text-color);
    }

    a,
    p {
      color: var(--text-color);
    }
  }
}

.row .note-col {
  //margin-top: unset;

  .note {
    margin-top: unset;
    padding: $padding;
    background-color: var(--background-color-container);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
}

.input-field {
  display: flex;
  flex-direction: column;

  input[type='number'],
  input[type='text'] {
    max-width: 100%;
    border-radius: 20px;
    border: none;
    background-color: var(--border-color);
    color: var(--text-color);
    padding: $padding;
    font-size: 1.1em;

    &:focus {
      outline-width: 0;
    }

    &::placeholder {
      color: var(--text-color-placeholder);
    }

    &.form-input__error {
      border-color: var(--red-color);
      background-color: var(--red-color-background);
    }
  }

  &.snap-input {
    .snap-input__container {
      display: flex;
      align-items: center;

      input {
        width: 40%;
      }

      .snap-input__divider {
        width: 20%;
        text-align: center;
        font-size: 1.5rem;
      }
    }
  }
}

.checkbox-input {
  display: flex;
  padding: 0.1rem 2%;
  justify-content: space-between;
}

input[type='checkbox'] {
  transform: scale(1.2);
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background: var(--background-color-container);
  border-radius: $border-radius;
  position: relative;
  box-sizing: content-box;
  width: 1.3em;
  height: 1.3em;
  border: 1px solid var(--border-color);
  margin: $padding-small;
}

input[type='checkbox']:checked {
  background-color: var(--green-color);
  border: 1px solid var(--green-color);
}

input[type='checkbox']:focus {
  outline: 0 none;
  box-shadow: none;
}

code {
  padding: $padding-large;
  border-radius: $border-radius;
  border: var(--border-color) solid 1px;
  background-color: var(--background-color-code);
}

table {
  border-radius: $border-radius-large;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
  overflow: hidden;


  thead {
    background-color: var(--background-color-table-header);
  }

  tbody {
    tr {
      background-color: var(--background-color-table);

      &:nth-child(even) {
        background-color: var(--background-color-table-striped);
      }
    }
  }

  td,
  th {
    padding: $padding;
    text-align: center;
  }
}

.logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
  display: flex;
}

.content-wrapper img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 675px;
}

.footer {
  flex: 0 1 auto;
  background-color: var(--primary-color);

  button,
  a.button {
    cursor: pointer;
    margin: $padding;
    padding: $padding;
    border: unset;
    border-radius: $border-radius;
    color: var(--text-color-flipped);
    background-color: var(--background-color-container);

    &:hover {
      background-color: var(--secondary-color);
    }

    .button__container {
      .button__text {
        color: var(--text-color-flipped);
      }
    }
  }

  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;

    .footer-nav__wrapper {
      display: flex;
      padding-inline-start: unset;
      font-size: 1.2em;

      &.dark-mode-toggle button {
        background-color: var(--darkmode-toggle-background);
        .button__text {
          color: var(--text-color-flipped);
        }

        &:hover {
          background-color: var(--darkmode-toggle-background-hover);
        }
      }
    }

    .footer-nav__item {
      button,
      a {
        display: flex;
        margin: $padding-large;
      }
    }
  }
}
