@import 'Variables';

* {
  margin: unset
}

html,
body {
  height: 100%;
}

body {
  background-color: $background-color;
}

.wrapper {
  max-width: 1400px;
  width: calc(100% - 80px);
  margin-left: auto;
  margin-right: auto;
  padding: $padding-large;
}

.page {
  margin-top: $padding;

  .page__header {
    background-color: $primary-color;
    color: $text-color-light;
    padding: $padding-small $padding-large;
    margin: unset;
  }

  .page__breadcrumb {
    background-color: $secondary-color;
    padding: $padding-small $padding-large;
    color: $text-color-light;
  }

  .page__container {
    background-color: $background-color-container;
  }
}

a {
  text-decoration: none;
  color: $text-color-light;
}

ul {
  list-style-type: none;
}

table {
  td, th {
    border: 1px solid $border-color;
    padding: $padding;
  }

  th {
    padding-top: $padding;
    padding-bottom: $padding;
    text-align: left;
    background-color: $primary-color;
    color: $text-color-light;
  }

  tr {
    background-color: $background-color-table-striped;

    &:nth-child(even){
      background-color: $background-color-table;
    }
  }
}
