$primary-color: #366199;
$secondary-color: #4780cc;

$text-color: #0a0a0a;
$text-color-light: #eeeeee;
$border-color: #c6c6c6;
$background-color: #e7e7e7;
$background-color-container: #e0e0e0;
$background-color-container-header: #1b304d;

$background-color-table: $background-color;
$background-color-table-striped: darken($background-color, 10%);

$padding: 8px;
$padding-small: 4px;
$padding-large: 16px;
